.searchbar-title {
  width: 46.6%;
  margin-top: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.results {
  width: 100%;
  margin-top: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid #eaeaea;
}
